In [59]:
import pandas as pd
from sklearn import svm
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.decomposition import PCA
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk import sent_tokenize
from sklearn.pipeline import FeatureUnion
from sklearn.pipeline import Pipeline

In [2]:
LMS = pd.ExcelFile('/home/aniket/Music/data/LMS_31JAN2019.xlsx')

In [3]:
RF_Final_Data = pd.ExcelFile('/home/aniket/Music/data/RF_Final_Data.xlsx')

In [4]:
Customers_31JAN2019 = pd.ExcelFile('/home/aniket/Music/data/Customers_31JAN2019.xlsx')

In [5]:
dataFile1 = LMS.parse()

In [6]:
dataFile1.drop_duplicates(subset='AGREEMENTID')
dataFile1.AGREEMENTID.nunique()

33354

In [7]:
dataFile2 = RF_Final_Data.parse()
dataFile2.head()

,TicketId,Type,SubType,Status,Date,Preprocessed_EmailBody,Preprocessed_Subject,Masked_CustomerID,Masked_AgreementID
0,571910,REQUEST,PROVISIONAL IT CERTIFICATE,Close,2019-01-23 16:34:00,"hi team, can you please provide me itcertifica...",loan account number - loannumber,12020736,0
1,572747,REQUEST,SOA,Close,2019-01-24 16:05:00,hi team can you please arrange the certificate...,certificate of interest and principal for home...,12019080,0
2,4622,General,Others,Close,2016-02-12 13:40:00,NaN,re: repaysch : loan number loannumber,12004815,0
3,4674,REQUEST,SOA,Close,2016-02-12 15:41:00,"dear sir, you for your promptreply, please not...",re: finalit : loan number loannumber,12005158,11230237
4,4681,QUERY,CHANGEOFROI,Close,2016-02-12 15:55:00,"dear sachin, for your mail. this seems a great...",re: fw: repaysch : loan number loannumber,12001022,0

In [8]:
dataFile3 = Customers_31JAN2019.parse()
dataFile3.head()

,CUSTOMERID,CUST_CONSTTYPE_ID,CUST_CATEGORYID,PROFESSION,AGE,SEX,MARITAL_STATUS,QUALIFICATION,NO_OF_DEPENDENT,OCCUPATION,POSITION,GROSS_INCOME,PRE_JOBYEARS,NETTAKEHOMEINCOME,BRANCH_PINCODE
0,12001000,1,5,NaN,33.0,M,M,POSTGRAD,0.0,NaN,NaN,198375.221829,8.0,198375.221829,400070.0
1,12001001,1,5,NaN,44.0,M,M,POSTGRAD,0.0,NaN,NaN,242703.982915,10.0,242703.982915,400070.0
2,12001002,1,7,NaN,50.0,M,M,GRAD,0.0,NaN,NaN,0.000000,NaN,0.000000,400070.0
3,12001003,3,4,NaN,40.0,M,M,GRAD,0.0,NaN,NaN,365263.511624,NaN,365263.516128,400070.0
4,12001004,3,4,NaN,27.0,M,M,GRAD,0.0,NaN,NaN,187342.198995,NaN,187342.198995,400070.0

In [9]:
min_max_scaler = preprocessing.MinMaxScaler()
imp = SimpleImputer(missing_values=np.nan, strategy='mean')

In [10]:
train = pd.read_csv('/home/aniket/Music/data/train_foreclosure.csv') 
train.reset_index(drop=True)
train.sort_values(by='AGREEMENTID');
train.drop_duplicates(subset=['AGREEMENTID'])

       AGREEMENTID  FORECLOSURE
0         11220001            1
1         11220002            1
2         11220006            1
3         11220008            1
4         11220010            1
5         11220011            0
6         11220012            0
7         11220014            1
8         11220016            1
9         11220017            0
10        11220020            1
11        11220021            1
12        11220022            1
13        11220025            1
14        11220026            0
15        11220029            1
16        11220030            1
17        11220032            0
18        11220034            0
19        11220036            1
20        11220037            1
21        11220039            1
22        11220040            0
23        11220041            0
24        11220042            0
25        11220043            0
26        11220044            0
27        11220046            0
28        11220048            1
29        11220050            0
...            ...          ...
19982     11253310            0
19983     11253314            0
19984     11253316            0
19985     11253318            0
19986     11253319            0
19987     11253321            0
19988     11253322            0
19989     11253323            0
19990     11253324            0
19991     11253325            0
19992     11253328            0
19993     11253329            0
19994     11253330            0
19995     11253333            0
19996     11253335            0
19997     11253337            0
19998     11253338            0
19999     11253339            0
20000     11253340            0
20001     11253341            0
20002     11253344            0
20003     11253345            0
20004     11253346            0
20005     11253347            0
20006     11253348            0
20007     11253349            0
20008     11253350            0
20009     11253351            0
20010     11253353            0
20011     11253354            0

[20012 rows x 2 columns]

In [11]:
result = pd.merge(dataFile1, dataFile3, how='left',on='CUSTOMERID')
result.drop_duplicates(subset=['AGREEMENTID'])
result=result.dropna(axis=1,how='all')

result['LAST_RECEIPT_DATE'] = result['LAST_RECEIPT_DATE'].astype(np.int64)//10**9
result['INTEREST_START_DATE'] = result['INTEREST_START_DATE'].astype(np.int64)//10**9
result['AUTHORIZATIONDATE'] = result['AUTHORIZATIONDATE'].astype(np.int64)//10**9

In [12]:
result['CITY'].fillna("NOT AVAILABLE",inplace = True)

result['PRODUCT'].fillna("NOT AVAILABLE",inplace = True)

result['NPA_IN_LAST_MONTH'].fillna("NOT AVAILABLE",inplace = True)

result['NPA_IN_CURRENT_MONTH'].fillna("NOT AVAILABLE",inplace = True)

result['SEX'].fillna("NOT AVAILABLE",inplace = True)

result['MARITAL_STATUS'].fillna("NOT AVAILABLE",inplace = True)

result['QUALIFICATION'].fillna("NOT AVAILABLE",inplace = True)

result['POSITION'].fillna("NOT AVAILABLE",inplace = True)

In [13]:
result = pd.get_dummies(result,columns=['CITY','PRODUCT','NPA_IN_LAST_MONTH','NPA_IN_CURRENT_MONTH','SEX','MARITAL_STATUS','QUALIFICATION','POSITION'],drop_first=True);
columnNames = list(result)
result.shape

(624250, 413)

In [14]:
result = imp.fit_transform(result)
result.shape

(624250, 413)

In [15]:
result = pd.DataFrame(data=result,columns=columnNames)

In [16]:
result.head()

,AGREEMENTID,CUSTOMERID,LOAN_AMT,NET_DISBURSED_AMT,INTEREST_START_DATE,CURRENT_ROI,ORIGNAL_ROI,CURRENT_TENOR,ORIGNAL_TENOR,DUEDAY,...,POSITION_POSITION,POSITION_PROP,POSITION_PRSD,POSITION_SGM,POSITION_SM,POSITION_SRMGMT,POSITION_SROF,POSITION_TL,POSITION_TRST1,POSITION_VP
0,11220001.0,12001000.0,1.171011e+07,1.171011e+07,1.283126e+09,13.734072,10.612692,58.0,120.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,11220002.0,12001001.0,1.929025e+07,1.929025e+07,1.284509e+09,13.734072,10.612692,137.0,180.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,11220003.0,12001002.0,4.053499e+06,4.053499e+06,1.283731e+09,17.167590,12.485520,360.0,180.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,11220004.0,12001003.0,1.325703e+07,1.325703e+07,1.285718e+09,15.606900,10.924830,198.0,180.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,11220005.0,12001004.0,1.321140e+07,1.321140e+07,1.283731e+09,16.543314,11.861244,142.0,180.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
dataToTrain = pd.merge(train,result,how='inner',on='AGREEMENTID')
dataToTrain.head(10)
dataToTrain = dataToTrain.drop_duplicates(subset=['AGREEMENTID'])
dataToTrain.shape

(20012, 414)

In [18]:
tags = dataToTrain['FORECLOSURE']
dataToTrain = dataToTrain.drop(['FORECLOSURE'],axis=1)
dataToTrain = dataToTrain.drop(['AGREEMENTID'],axis=1)
dataToTrain = dataToTrain.drop(['CUSTOMERID'],axis=1)
dataToTrain = min_max_scaler.fit_transform(dataToTrain)
dataToTrain.shape

(20012, 411)

In [19]:
type(tags)

pandas.core.series.Series

In [20]:
# 1. Split the training data for validation
# 2. Hot encoding for string variables

rbf_svc = svm.SVC(kernel='rbf',gamma='scale',probability=True)

rbf_svc.fit(dataToTrain,tags)

In [23]:
test = pd.read_csv('/home/aniket/Music/data/test_foreclosure.csv') 
test.reset_index(drop=True)
dataToTest = pd.merge(test,result,how='inner',on='AGREEMENTID')
dataToTest = pd.merge(test,result,how='inner',on='AGREEMENTID')
dataToTest = dataToTest.drop_duplicates(subset=['AGREEMENTID'])
AgreementId = dataToTest['AGREEMENTID']
dataToTest = dataToTest.drop(['FORECLOSURE'],axis=1)
dataToTest = dataToTest.drop(['AGREEMENTID'],axis=1)
dataToTest = dataToTest.drop(['CUSTOMERID'],axis=1)
dataToTest = min_max_scaler.transform(dataToTest)

y_pred = rbf_svc.predict_proba(dataToTest)

FORECLOSURE = y_pred[:,1]

AGREEMENTID = AgreementId

df=pd.DataFrame({'AGREEMENTID':AGREEMENTID, 'FORECLOSURE':FORECLOSURE})

df.to_csv('ans.csv', header='AGREEMENTID,FORECLOSURE', index=None, mode='a')

Data Analysis

pca = PCA(n_components=200)

pca.fit(dataToTrain)

dimRedDataToTrain=pca.transform(dataToTrain)

rbf_svc = svm.SVC(kernel='rbf',gamma='scale',probability=True)

rbf_svc.fit(dimRedDataToTrain,tags)

dimRedDataToTest=pca.transform(dataToTest)

y_pred = rbf_svc.predict_proba(dimRedDataToTest)

FORECLOSURE = y_pred[:,1]
df=pd.DataFrame({'AGREEMENTID':AGREEMENTID, 'FORECLOSURE':FORECLOSURE})
df.to_csv('ans2.csv', header='AGREEMENTID,FORECLOSURE', index=None, mode='a')


# NLP approach to use the email data

In [88]:
dataFile2.columns

(7511, 9)

In [52]:
dataFile2 = dataFile2.fillna(' ')

In [53]:
tfidfv = TfidfVectorizer()

In [54]:
vectorizedText = tfidfv.fit_transform(dataFile2['Preprocessed_EmailBody'])

In [60]:
vectorizedTextSubject = tfidfv.fit_transform(dataFile2['Preprocessed_Subject'])

In [74]:
emailData = dataFile2.drop(['Preprocessed_EmailBody','Preprocessed_Subject','Masked_AgreementID','TicketId','Date'],axis=1)

In [87]:
print (vectorizedTextSubject)

  (0, 1222)	0.35019468738070364
  (0, 67)	0.6107981979573082
  (0, 1456)	0.6029213265774327
  (0, 1226)	0.3752001016265119
  (1, 1222)	0.17347341047891904
  (1, 1226)	0.1858601617517698
  (1, 343)	0.33609877961556167
  (1, 1464)	0.23517076098333817
  (1, 992)	0.32307934505981634
  (1, 147)	0.3597705391700084
  (1, 1639)	0.5698752803023549
  (1, 766)	0.250189673303011
  (1, 926)	0.3820045652394127
  (2, 1222)	0.2611645912380863
  (2, 1456)	0.44964046422880244
  (2, 1226)	0.27981287182478193
  (2, 1736)	0.30250246496708005
  (2, 1829)	0.7482068729045188
  (3, 1222)	0.2219441417639756
  (3, 1456)	0.3821156094037291
  (3, 1226)	0.23779191274459388
  (3, 1736)	0.2570740912859809
  (3, 746)	0.8258912620977555
  (4, 1222)	0.22982281151473205
  (4, 1456)	0.39568011563116795
  :	:
  (7508, 1783)	0.18888561772005819
  (7508, 1688)	0.5168061098014343
  (7508, 0)	0.1669480618676
  (7508, 533)	0.2785348078621988
  (7508, 1474)	0.18141224503818063
  (7508, 2)	0.1631278678560516
  (7508, 2225)	0.3412343260132823
  (7508, 816)	0.21264522073405723
  (7508, 1227)	0.25720293082549994
  (7508, 829)	0.2538036248135256
  (7508, 1516)	0.23370481013406613
  (7508, 2213)	0.3548012527045939
  (7509, 1222)	0.24650541751371968
  (7509, 67)	0.42994674171173697
  (7509, 1226)	0.264106969738484
  (7509, 766)	0.35551909485675637
  (7509, 1437)	0.3638548752752327
  (7509, 784)	0.46010375948587723
  (7509, 1163)	0.46276205592187725
  (7510, 1222)	0.1485457928368616
  (7510, 1464)	0.20137741597328698
  (7510, 926)	0.3271116354611879
  (7510, 1788)	0.37878537036815585
  (7510, 372)	0.5199641766040313
  (7510, 1508)	0.6453976758215416

In [76]:
emailData.columns

Index(['Type', 'SubType', 'Status', 'Masked_CustomerID'], dtype='object')

In [78]:
emailData = pd.get_dummies(emailData,columns=['Type','SubType','Status'],drop_first=True);

In [79]:
dataToTrain = pd.merge(train,result,how='inner',on='AGREEMENTID')