In [1]:
import pandas as pd
from sklearn import svm
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [2]:
LMS = pd.ExcelFile('/home/aniket/Music/data/LMS_31JAN2019.xlsx')

In [3]:
RF_Final_Data = pd.ExcelFile('/home/aniket/Music/data/RF_Final_Data.xlsx')

In [4]:
Customers_31JAN2019 = pd.ExcelFile('/home/aniket/Music/data/Customers_31JAN2019.xlsx')

In [5]:
dataFile1 = LMS.parse()

In [6]:
dataFile1.drop_duplicates(subset='AGREEMENTID')
dataFile1.AGREEMENTID.nunique()

33354

In [7]:
dataFile2 = RF_Final_Data.parse()
dataFile2.head()

,TicketId,Type,SubType,Status,Date,Preprocessed_EmailBody,Preprocessed_Subject,Masked_CustomerID,Masked_AgreementID
0,571910,REQUEST,PROVISIONAL IT CERTIFICATE,Close,2019-01-23 16:34:00,"hi team, can you please provide me itcertifica...",loan account number - loannumber,12020736,0
1,572747,REQUEST,SOA,Close,2019-01-24 16:05:00,hi team can you please arrange the certificate...,certificate of interest and principal for home...,12019080,0
2,4622,General,Others,Close,2016-02-12 13:40:00,NaN,re: repaysch : loan number loannumber,12004815,0
3,4674,REQUEST,SOA,Close,2016-02-12 15:41:00,"dear sir, you for your promptreply, please not...",re: finalit : loan number loannumber,12005158,11230237
4,4681,QUERY,CHANGEOFROI,Close,2016-02-12 15:55:00,"dear sachin, for your mail. this seems a great...",re: fw: repaysch : loan number loannumber,12001022,0

In [8]:
dataFile3 = Customers_31JAN2019.parse()
dataFile3.head()

,CUSTOMERID,CUST_CONSTTYPE_ID,CUST_CATEGORYID,PROFESSION,AGE,SEX,MARITAL_STATUS,QUALIFICATION,NO_OF_DEPENDENT,OCCUPATION,POSITION,GROSS_INCOME,PRE_JOBYEARS,NETTAKEHOMEINCOME,BRANCH_PINCODE
0,12001000,1,5,NaN,33.0,M,M,POSTGRAD,0.0,NaN,NaN,198375.221829,8.0,198375.221829,400070.0
1,12001001,1,5,NaN,44.0,M,M,POSTGRAD,0.0,NaN,NaN,242703.982915,10.0,242703.982915,400070.0
2,12001002,1,7,NaN,50.0,M,M,GRAD,0.0,NaN,NaN,0.000000,NaN,0.000000,400070.0
3,12001003,3,4,NaN,40.0,M,M,GRAD,0.0,NaN,NaN,365263.511624,NaN,365263.516128,400070.0
4,12001004,3,4,NaN,27.0,M,M,GRAD,0.0,NaN,NaN,187342.198995,NaN,187342.198995,400070.0

In [47]:
min_max_scaler = preprocessing.MinMaxScaler()
imp = SimpleImputer(missing_values=np.nan, strategy='mean')

TypeError: __init__() got an unexpected keyword argument 'axis'

In [10]:
train = pd.read_csv('/home/aniket/Music/data/train_foreclosure.csv') 
train.reset_index(drop=True)
train.sort_values(by='AGREEMENTID');
train.drop_duplicates(subset=['AGREEMENTID'])

       AGREEMENTID  FORECLOSURE
0         11220001            1
1         11220002            1
2         11220006            1
3         11220008            1
4         11220010            1
5         11220011            0
6         11220012            0
7         11220014            1
8         11220016            1
9         11220017            0
10        11220020            1
11        11220021            1
12        11220022            1
13        11220025            1
14        11220026            0
15        11220029            1
16        11220030            1
17        11220032            0
18        11220034            0
19        11220036            1
20        11220037            1
21        11220039            1
22        11220040            0
23        11220041            0
24        11220042            0
25        11220043            0
26        11220044            0
27        11220046            0
28        11220048            1
29        11220050            0
...            ...          ...
19982     11253310            0
19983     11253314            0
19984     11253316            0
19985     11253318            0
19986     11253319            0
19987     11253321            0
19988     11253322            0
19989     11253323            0
19990     11253324            0
19991     11253325            0
19992     11253328            0
19993     11253329            0
19994     11253330            0
19995     11253333            0
19996     11253335            0
19997     11253337            0
19998     11253338            0
19999     11253339            0
20000     11253340            0
20001     11253341            0
20002     11253344            0
20003     11253345            0
20004     11253346            0
20005     11253347            0
20006     11253348            0
20007     11253349            0
20008     11253350            0
20009     11253351            0
20010     11253353            0
20011     11253354            0

[20012 rows x 2 columns]

In [44]:
result = pd.merge(dataFile1, dataFile3, how='left',on='CUSTOMERID')
result.drop_duplicates(subset=['AGREEMENTID'])
result.dropna(axis=1,how='all')

result['LAST_RECEIPT_DATE'] = result['LAST_RECEIPT_DATE'].astype(np.int64)//10**9
result['INTEREST_START_DATE'] = result['INTEREST_START_DATE'].astype(np.int64)//10**9
result['AUTHORIZATIONDATE'] = result['AUTHORIZATIONDATE'].astype(np.int64)//10**9

In [45]:
result['CITY'].fillna("NOT AVAILABLE",inplace = True)

result['PRODUCT'].fillna("NOT AVAILABLE",inplace = True)

result['NPA_IN_LAST_MONTH'].fillna("NOT AVAILABLE",inplace = True)

result['NPA_IN_CURRENT_MONTH'].fillna("NOT AVAILABLE",inplace = True)

result['SEX'].fillna("NOT AVAILABLE",inplace = True)

result['MARITAL_STATUS'].fillna("NOT AVAILABLE",inplace = True)

result['QUALIFICATION'].fillna("NOT AVAILABLE",inplace = True)

result['POSITION'].fillna("NOT AVAILABLE",inplace = True)

In [46]:
result = pd.get_dummies(result,columns=['CITY','PRODUCT','NPA_IN_LAST_MONTH','NPA_IN_CURRENT_MONTH','SEX','MARITAL_STATUS','QUALIFICATION','POSITION'],drop_first=True);
columnNames = list(result)
result.shape

(624250, 415)

In [25]:
result = imp.fit_transform(result)
result.shape

(624250, 413)

In [15]:
result = min_max_scaler.fit_transform(result)
result.shape

(624250, 413)

In [16]:
result = pd.DataFrame(data=result,columns=columnNames)

ValueError: Shape of passed values is (624250, 413), indices imply (624250, 415)

In [ ]:
result.head()

In [ ]:
dataToTrain = pd.merge(train,result,how='inner',on='AGREEMENTID')
dataToTrain.head(10)
dataToTrain = dataToTrain.drop_duplicates(subset=['AGREEMENTID'])
dataToTrain.shape

In [ ]:
tags = dataToTrain.FORECLOSURE
dataToTrain = dataToTrain.drop(['FORECLOSURE'],axis=1)

In [ ]:
# 1. Split the training data for validation
# 2. Hot encoding for string variables

In [ ]:
print (dataToTrain.dtypes)

In [ ]:
dataToTrain.shape

In [ ]:
train, test = train_test_split(dataToTrain, test_size=0.2)

In [ ]:
trainLabel,testLabel = train_test_split(tags, test_size=0.2)

In [ ]:
train = imp.fit_transform(train)
test = imp.fit_transform(test)
train_scaled = min_max_scaler.fit_transform(train)
test_scaled = min_max_scaler.fit_transform(test)

In [ ]:
rbf_svc = svm.SVC(kernel='rbf',gamma='scale')

In [ ]:
rbf_svc.fit(train_scaled,trainLabel)

In [ ]:
test_pred = rbf_svc.predict(test_scaled)

In [ ]:
accuracy_score(testLabel, test_pred)

In [ ]:
rdf = RandomForestClassifier(n_estimators=100, max_depth=3,random_state=0)

In [ ]:
rdf.fit(train_scaled,trainLabel)

In [ ]:
rdf_pred = rdf.predict(test_scaled)

In [ ]:
accuracy_score(testLabel,rdf_pred)

In [ ]:
dataFile1.head(12)

In [ ]:
test = pd.read_csv('/home/aniket/Music/data/test_foreclosure.csv') 
test.reset_index(drop=True)
dataToTest = pd.merge(test,result,how='inner',on='AGREEMENTID')